{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center h-100" style="margin-top: 150px;">
    <div class="text-white" id="page-main">
        <h1 class="mb-3">Calculadora de Funciones Hash</h1>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center h-100" style="margin-top: 10px;">
    <a href="{{url_for('HF_MD4')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 20px;">MD4</a>
    <a href="{{url_for('HF_MD5')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 20px;">MD5</a>
    <a href="{{url_for('HF_SHA1')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 20px;">SHA-1</a>
    <a href="{{url_for('HF_SHA256')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 20px;">SHA-256</a>
    <a href="{{url_for('HF_HMAC')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 20px;">HMAC</a>
</div>
{% endblock %}